[alias]
        co = checkout
        cob = checkout -b
        coo = !git fetch && git checkout
        l = git list
        la = git list --all
        br = branch
        brd = branch -d
        brD = branch -D
        merged = branch --merged
        st = status
        aa = add -A .
        cm = commit -m
        aacm = !git add -A . && git commit -m
        cp = cherry-pick
        amend = commit --amend -m
        master = !git checkout master && git pull origin
        pu = push --set-upstream origin
        plo = pull origin
        unstage = reset --soft HEAD^
        h = "!git config -l | grep alias | cut -c 7-"
